<form action="/new" method="POST">
  <label for="user">
    User:
    <input type="text" id="user" name="user" />
  </label>

  <label for="text">
    Message:
    <input type="textarea" id="text" name="text" />
  </label>
  <button type="submit">Send</button>
</form>
