<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <h1>Message Details</h1>
    </header>
    <main>
      <a href="/">Home</a>
      <div>
        <div><%= message.user %></div>
        <div><%= message.added.toLocaleString() %></div>
      </div>
      <p><%= message.text %></p>
    </main>
  </body>
</html>
